*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(black,gray);
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    color:aquamarine;
    padding: 2%;
    font-size: 3rem;
}
.outer{
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: cenetr;
    align-items: center;
    padding-top: 2% ;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: cenetr;
    align-items: center;
    gap: 2.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25%;
    border: none;
    background-image: linear-gradient(rgba(70, 70, 223, 0.37),rgb(43, 180, 188));
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    font-size: 5rem;
    color: rgb(207, 2, 2);
}
